<!-- Comentário HTML ou bloco de comentário Django -->
{% comment %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <div id="meus-pets" class="card">
        <h3>Meus Pets</h3>
        <p>Gerencie seus pets aqui.</p>
    </div>
    
    <div id="localizacao-pet" class="card">
        <h3>Localização do Pet</h3>
        <p>Saiba onde seus pets estão localizados.</p>
    </div>

    <div id="configuracoes" class="card">
        <h3>Configurações</h3>
        <p>Ajuste suas preferências e configurações da conta.</p>
    </div>
</body>
</html>
{% endcomment %}
{% comment %} {% extends 'global/base.html' %} {% endcomment %}

{% block texto %} 
  {{ text }}
{% endblock texto %}

{% block home %}
  <h1>HOME</h1>
{% endblock home %}
